In [2]:
from pathlib import Path
import pandas as pd

In [3]:
images_path = Path('../image_downloader/images/')

In [3]:
for p in images_path.rglob('*/*'):
    path = str(p)
    date_folder = p.parts[-2]
    filename = p.parts[-1]
    timestamp, location = filename.split('_', 1)
    location = location.split('.')[0]

    print(f'{path=}')
    print(f'{date_folder=}')
    print(f'{filename=}')
    print(f'{timestamp=}')
    print(f'{location=}')

    break

path='../image_downloader/images/2025-04-20/1745143200_MC_DHPOS.jpg'
date_folder='2025-04-20'
filename='1745143200_MC_DHPOS.jpg'
timestamp='1745143200'
location='MC_DHPOS'

In [4]:
records = []

for p in images_path.rglob('*/*'):
    path = str(p)
    date_folder = p.parts[-2]
    filename = p.parts[-1]
    timestamp, location = filename.split('_', 1)
    location = location.split('.')[0]

    records.append({
        'path': p,
        'date_folder': date_folder,
        'timestamp': timestamp,
        'location': location,
    })

df = pd.DataFrame.from_records(records)

In [5]:
df

,path,date_folder,timestamp,location
0,../image_downloader/images/2025-04-20/17451432...,2025-04-20,1745143200,MC_DHPOS
1,../image_downloader/images/2025-04-20/17451432...,2025-04-20,1745143200,MC_DHService1
2,../image_downloader/images/2025-04-20/17451432...,2025-04-20,1745143200,MC_DHService2
3,../image_downloader/images/2025-04-20/17451432...,2025-04-20,1745143200,MC_DHSmoothies
4,../image_downloader/images/2025-04-20/17451432...,2025-04-20,1745143200,MC_Exit1
...,...,...,...,...
1689291,../image_downloader/images/2025-03-20/17425203...,2025-03-20,1742520304,MC_DHService2
1689292,../image_downloader/images/2025-03-20/17424744...,2025-03-20,1742474469,NH_DHPOS2
1689293,../image_downloader/images/2025-03-20/17424943...,2025-03-20,1742494378,MC_Exit1
1689294,../image_downloader/images/2025-03-20/17424816...,2025-03-20,1742481647,MC_PO
1689295,../image_downloader/images/2025-03-20/17425103...,2025-03-20,1742510306,MC_PO2

In [6]:
df['date_folder'].unique()

array(['2025-04-20', '2025-04-21', '2025-04-22', '2025-04-23',
       '2025-04-24', '2025-04-25', '2025-03-19', '2025-05-02',
       '2025-04-05', '2025-04-01', '2025-03-21', '2025-05-01',
       '2025-04-10', '2025-03-18', '2025-03-17', '2025-04-19',
       '2025-04-11', '2025-04-08', '2025-03-29', '2025-04-28',
       '2025-04-17', '2025-03-28', '2025-04-14', '2025-04-09',
       '2025-03-25', '2025-04-18', '2025-04-30', '2025-04-06',
       '2025-03-06', '2025-04-26', '2025-03-30', '2025-03-22',
       '2025-03-27', '2025-03-31', '2025-03-26', '2025-03-07',
       '2025-04-07', '2025-04-27', '2025-04-16', '2025-04-15',
       '2025-04-13', '2025-04-04', '2025-04-12', '2025-04-29',
       '2025-03-24', '2025-03-23', '2025-04-02', '2025-04-03',
       '2025-03-20'], dtype=object)

In [7]:
df['image_id'] = df['timestamp'] + '_' + df['location']

In [8]:
df.to_csv('image_index.csv', index=False)